.relatorio-page{
    padding:30px;
}

.page-header{
    margin-bottom:30px;
}

.page-header h1{
    font-size:32px;
    color:#111;
}

.page-header p{
    color:#666;
    margin-top:10px;
}

.table-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#111;
    color:white;
}

th,
td{
    padding:18px;
    text-align:left;
}

tbody tr{
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#f8f8f8;
}