{% extends "admin_base.html" %}

{% block content %}

<h1>Usuários</h1>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
        </tr>
    </thead>

    <tbody>

        {% for usuario in usuarios %}

        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.cargo }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}