{% extends "base.html" %}

{% block title %}
Contato
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
      href="{{ url_for('static', path='/css/contato.css') }}">
{% endblock %}

{% block content %}

<section class="contato">

    <div class="contato-topo">

        <h1>
            Entre em Contato
        </h1>

        <p>
            Estamos prontos para atender você.
        </p>

    </div>

    <div class="contato-container">

        <!-- INFORMAÇÕES -->

        <div class="contato-info">

            <h2>
                Informações
            </h2>

            <div class="info-item">

                <i class="fa-solid fa-location-dot"></i>

                <div>
                    <h3>Endereço</h3>
                    <p>Recife - PE</p>
                </div>

            </div>

            <div class="info-item">

                <i class="fa-solid fa-phone"></i>

                <div>
                    <h3>Telefone</h3>
                    <p>(81) 99999-9999</p>
                </div>

            </div>

            <div class="info-item">

                <i class="fa-solid fa-envelope"></i>

                <div>
                    <h3>Email</h3>
                    <p>contato@lojafashion.com</p>
                </div>

            </div>

            <div class="info-item">

                <i class="fa-solid fa-clock"></i>

                <div>
                    <h3>Atendimento</h3>
                    <p>Segunda à Sexta - 08h às 18h</p>
                </div>

            </div>

        </div>

        <!-- FORMULÁRIO -->


       <div class="contato-formulario">

        {% if sucesso %}

            <div class="mensagem-sucesso">

                <i class="fa-solid fa-circle-check"></i>

                <h2>
                    Sua mensagem foi enviada com sucesso!
                </h2>

                <p>
                    Entraremos em contato em breve.
                </p>

                <a href="/contato" class="btn-nova-mensagem">

                    Enviar Nova Mensagem

                </a>

            </div>

            {% else %}

            <h2>
                Envie uma Mensagem
            </h2>

            <form action="/contato"
                method="POST">

                <input
                    type="text"
                    name="nome"
                    placeholder="Seu Nome"
                    required
                >

                <input
                    type="email"
                    name="email"
                    placeholder="Seu E-mail"
                    required
                >

                <input
                    type="text"
                    name="telefone"
                    placeholder="Telefone"
                >

                <input
                    type="text"
                    name="assunto"
                    placeholder="Assunto"
                >

                <textarea
                    name="mensagem"
                    placeholder="Digite sua mensagem..."
                    required
                ></textarea>

                <button type="submit">

                    <i class="fa-solid fa-paper-plane"></i>

                    Enviar Mensagem

                </button>

            </form>

            {% endif %}

        </div>

    </div>

</section>

{% endblock %}