<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Caixa PDV</title>

    <link rel="stylesheet" href="/static/css/admin/caixa.css">
</head>
<body>

<div class="caixa-container">

    <!-- ESQUERDA -->
    <div class="caixa-left">

        <div class="topo-caixa">
            <h1>CAIXA PDV</h1>

            <div class="caixa-info">
                <span>Operador:</span>
                <strong>{{ usuario.nome }}</strong>
            </div>
        </div>

        <!-- SCANNER -->
        <div class="scanner-box">

            <label>Código do Produto</label>

            <input
                type="text"
                id="codigo_produto"
                placeholder="Bipar código..."
                autofocus
            >

        </div>

        <!-- TABELA -->
        <div class="produtos-area">

            <table>

                <thead>
                    <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>QTD</th>
                        <th>VALOR</th>
                        <th>TOTAL</th>
                        <th>AÇÃO</th>
                    </tr>
                </thead>

                <tbody id="tabela_produtos">

                </tbody>

            </table>

        </div>

    </div>

    <!-- DIREITA -->
    <div class="caixa-right">

        <div class="total-box">

            <span>TOTAL</span>

            <h2 id="valor_total">
                R$ 0,00
            </h2>

        </div>

        <!-- DESCONTO -->
        <div class="form-group">

            <label>Desconto</label>

            <input
                type="number"
                id="desconto"
                placeholder="0.00"
                value="0"
            >

        </div>

        <!-- PAGAMENTO -->
        <div class="form-group">

            <label>Forma de Pagamento</label>

            <select id="forma_pagamento">

                <option>Dinheiro</option>
                <option>Pix</option>
                <option>Cartão Crédito</option>
                <option>Cartão Débito</option>

            </select>

        </div>

        <!-- VALOR FINAL -->
        <div class="valor-final">

            <span>Valor Final</span>

            <h3 id="valor_final">
                R$ 0,00
            </h3>

        </div>

        <!-- BOTÕES -->
        <div class="botoes-caixa">

            <button
                type="button"
                class="btn-finalizar"
                onclick="abrirModalPagamento()"
            >
                FINALIZAR VENDA
            </button>

            <!--<button
                class="btn-finalizar"
                onclick="abrirModalPix()"
            >
                TESTAR PIX
            </button>-->

            <button class="btn-cancelar">
                CANCELAR
            </button>

            <button
                class="btn-fechar-caixa"
                onclick="fecharCaixa()"
            >
                FECHAR CAIXA
            </button>

        </div>

    </div>

</div>

<!-- MODAL PAGAMENTO -->

<div id="modalPagamento" class="modal-pagamento">

    <div class="modal-content">

        <h2>Finalizar Venda</h2>

        <div class="total-modal">

            Total:
            <strong id="totalModal">
                R$ 0,00
            </strong>

        </div>

        <div class="formas">

            <label>
                <input
                    type="radio"
                    name="pagamento_modal"
                    value="Dinheiro"
                    checked
                >
                Dinheiro
            </label>

            <label>
                <input
                    type="radio"
                    name="pagamento_modal"
                    value="Pix"
                >
                PIX
            </label>

            <label>
                <input
                    type="radio"
                    name="pagamento_modal"
                    value="Cartão Crédito"
                >
                Cartão Crédito
            </label>

            <label>
                <input
                    type="radio"
                    name="pagamento_modal"
                    value="Cartão Débito"
                >
                Cartão Débito
            </label>

        </div>

        <div id="areaDinheiro">

            <label>Valor Recebido</label>

            <input
                type="number"
                id="valorRecebido"
                step="0.01"
                placeholder="0.00"
            >

            <div class="troco-box">

                Troco:
                <strong id="troco">
                    R$ 0,00
                </strong>

            </div>

        </div>

        <!--Parcelas-->

        <div
            id="areaParcelamento"
            style="display:none;"
        >

            <label>
                Parcelamento
            </label>

            <select id="parcelas">

                <option value="1">
                    1x sem juros
                </option>

                <option value="2">
                    2x sem juros
                </option>

                <option value="3">
                    3x sem juros
                </option>

                <option value="4">
                    4x sem juros
                </option>

                <option value="5">
                    5x sem juros
                </option>

                <option value="6">
                    6x sem juros
                </option>

                <option value="12">
                    12x sem juros
                </option>

            </select>

            <div
                id="valorParcela"
                class="troco-box"
            >

                Valor da Parcela

                <strong>
                    R$ 0,00
                </strong>

            </div>

        </div>

        <!--Fim Parcelas-->

        <div class="acoes-modal">

            <button
                class="btn-confirmar"
                onclick="confirmarVenda()"
            >
                Confirmar Venda
            </button>

            <button
                class="btn-cancelar-modal"
                onclick="fecharModalPagamento()"
            >
                Cancelar
            </button>

        </div>

    </div>

</div>

<!-- MODAL PIX -->

<!--<div id="modalPix" class="modal-pagamento">

    <div class="modal-content">

        <h2>
            Pagamento PIX
        </h2>

        <div class="valor-pix">

            Valor da Venda

            <strong id="valorPix">
                R$ 0,00
            </strong>

        </div>

        <img
            src="/static/imagens/pix_teste.png"
            class="qrcode-pix"
            alt="PIX"
        >

        <p class="chave-pix">

            Chave PIX

            <strong>
                pix@lojafashion.com
            </strong>

        </p>

        <button
            class="btn-confirmar"
            onclick="confirmarPix()"
        >
            ✅ Pagamento Recebido
        </button>

        <button
            class="btn-cancelar-modal"
            onclick="fecharModalPix()"
        >
            Cancelar
        </button>

    </div>

</div>-->

<!-- ==========================
        MODAL PIX CAIXA
=========================== -->

<div id="modalPix" class="modal-pix">

    <div class="pix-container">

        <h2>Pagamento via PIX</h2>

        <div class="pix-total">

            <small>Total da Venda</small>

            <h1 id="valorPix">

                R$ 0,00

            </h1>

        </div>

        <div class="pix-qrcode">

            <img
                src="{{ qr_code }}"
                id="imagemPix">

        </div>

        <div class="pix-status">

            <div class="loader"></div>

            <span id="textoStatus">

                Aguardando pagamento...

            </span>

        </div>

        <div class="pix-tempo">

            Tempo restante

            <strong id="tempoPix">

                05:00

            </strong>

        </div>

        <button
            class="btn-cancelar-pix"
            onclick="fecharPix()">

            Cancelar

        </button>

    </div>

</div>

<script src="/static/js/caixa/constants.js"></script>

<script src="/static/js/caixa/eventBus.js"></script>

<script src="/static/js/caixa/caixa.js"></script>

<script src="/static/js/caixa/carrinho.js"></script>

<script src="/static/js/caixa/scanner.js"></script>

<script src="/static/js/caixa/pagamento.js"></script>

<script src="/static/js/caixa/pix.js"></script>

</body>
</html>