{% extends "admin_base.html" %}

{% block title %}
Histórico de Vendas
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
href="{{ url_for('static', path='/css/admin/caixa_vendas.css') }}">
{% endblock %}

{% block content %}

<div class="caixa-vendas">

    <h1 class="mb-4">
        Histórico de Vendas
    </h1>

    <div class="tabela-vendas">

        <div class="card-body">

            <table class="table table-hover">

                <thead>

                    <tr>

                        <th>ID</th>

                        <th>Data</th>

                        <th>Pagamento</th>

                        <th>Desconto</th>

                        <th>Total</th>

                        <th></th>

                    </tr>

                </thead>

                <tbody>

                    {% for venda in vendas %}

                    <tr>

                        <td>
                            #{{ venda.id }}
                        </td>

                        <td>
                            {{ venda.data_venda.strftime('%d/%m/%Y %H:%M') }}
                        </td>

                        <td>
                            {{ venda.pagamento }}
                        </td>

                        <td>
                            R$ {{ venda.desconto }}
                        </td>

                        <td>
                            <strong>
                                R$ {{ venda.total }}
                            </strong>
                        </td>

                        <td>

                            <a
                                href="/caixa/venda/{{ venda.id }}"
                                class="btn-detalhes"
                            >
                            Ver
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}